<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>文章管理-測試登入</title>
</head>
<body>

    <body>
    <h3>文章管理 - 測試登入</h3>

    <form method="post" th:action="@{/psych/article/set_psychId_session}">
        <span>心理師編號：</span>
        <input type="text" name="psychIdSession" />
        <button type="submit">送出</button><br>
        <span style="color:red;" th:text="${errorMessage}"></span> 
    </form>

    <!-- session.psychId 取代 session.loginPsych -->
    <div th:if="${session.psychId != null}">
        <span>目前登入的心理師編號：</span>
        <span th:text="${session.psychId}"></span>
        <br><br>
        <a th:href="@{/article/myArticles}">前往我的文章</a> |
        <a th:href="@{/article/create}">新增文章</a> 
    </div>

</body>
</html>