<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<h1>心理師回復</h1>
	<table>
			<thead>
				<tr>
					<th>課程名稱</th>
					<th>會員編號</th>
					<th>提問時間</th>
					<th>會員提問</th>
					<th>回復時間</th>
					<th>心理師回復</th>
					
				</tr>
			</thead>
			<tbody>
				<th:block th:each="courseQa : ${questions}">
					<tr>   
<!-- 					${} = 進入get -->
						<td th:text="${courseQa.course.courseName}"></td>
						<td th:text="${courseQa.member.name}"></td>
						<td th:text="${courseQa.askedAt}"></td>
						<td th:text="${courseQa.courseQuestion}"></td>  
						<td th:text="${courseQa.answeredAt}"></td>  
						<td th:text="${courseQa.courseAnswer}"></td>  
						
						<td th:if ="${courseQa.courseAnswer}==null" >
							<form method="post" th:action="@{answerQa}">
								<input type="text" name="courseAnswer"
									th:value="${courseQa.courseAnswer}">
								<input type="hidden" name="questionId"
									th:value="${courseQa.questionId}">
								<button type="submit">送出</button>
							</form>
						</td>
					</tr>
				</th:block>
			</tbody>
		</table>
	
</body>
</html>