<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>新增優惠券</title>
<style>
span.error{
	font-size: 12px;
	color: red;
}
</style>
</head>
<body>
	<a th:href="@{/admin/coupon/select_coupon}">返回優惠券</a>

	<h3>
		<b>新增優惠券</b>
	</h3>
	<p><font color="red">*</font>表示必填</p>
	<p th:text=${errorMessage}></p>
	<form th:action="@{insert_coupon}" method="post" th:object="${coupon}">

		<div>
			<label>優惠券名稱:<font color="red">*</font></label> 
			<input type="text" th:field="*{couponName}"/><br /> 
			<span th:if="${#fields.hasErrors('couponName')}" th:errors="*{couponName}"
				class="error" id="couponName.errors"></span>
		</div>
		<div>
			<label>優惠效期:<font color="red">*</font></label> 
			<input type="text" th:field="*{discountDuration}"/><br /> 
			<span th:if="${#fields.hasErrors('discountDuration')}" th:errors="*{discountDuration}"
				class="error" id="discountDuration.errors"></span>
		</div>
		<div>
			<label>消費觸發門檻:</label> 
			<input type="text" th:field="*{triggerThreshold}"/><br /> 
			<span th:if="${#fields.hasErrors('triggerThreshold')}" th:errors="*{triggerThreshold}"
				class="error" id="triggerThreshold.errors"></span>
		</div>
		<div>
			<label>優惠券折扣:<font color="red">*</font></label> 
			<input type="text" th:field="*{discount}"/><br /> 
			<span th:if="${#fields.hasErrors('discount')}" th:errors="*{discount}"
				class="error" id="discount.errors"></span>
		</div>
		<div>
			<label>折扣上限:</label> 
			<input type="text" th:field="*{discountLimit}"/><br /> 
			<span th:if="${#fields.hasErrors('discountLimit')}" th:errors="*{discountLimit}"
				class="error" id="discountLimit.errors"></span>
		</div>
		
		<div><button type="submit" id="submit"> 送出新增 </button></div>
	</form>
		
		
</body>
</html>