<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta charset="UTF-8">
<title>優惠券搜尋頁面</title>
</head>
<body>
	<h1>優惠券</h1>

	<h3>
		<a th:href="@{/admin/course/select_course}">回員工課程管理</a>
	</h3>
	<h3>
		<a th:href="@{/admin/coupon/add_coupon}">新增優惠券</a>
	</h3>
	<form th:action="@{/admin/coupon/publish}" method="post">
	    選擇優惠券: <select name="couponId">
			<option th:each="coupon : ${couponListAll}"
				th:value="${coupon.couponId}" th:text="${coupon.couponName}" />
		</select>
	    <label>發放數量</label>
	    <input type="number"
	           name="stock"
	           min="1"
	           required>
	    <label>可領取時數</label>
	    <input type="number"
	           name="ttlHours"
	           min="1"
	           required>
	    <button type="submit">發布優惠券</button>
	</form>
	<div th:utext="${errorMessage}">${errorMessage}</div>
	<br>

	<p th:if="${session.couponPageQty > 0}">
	現在頁數:<b th:text=|${currentPage}/${session.couponPageQty}|>0</b>
	</p>
	<table>
		<thead>
			<tr>
				<th>優惠券名稱</th>
				<th>優惠效期(天)</th>
				<th>消費觸發門檻</th>
				<th>優惠券折扣</th>
				<th>折扣上限</th>
				<th>其他功能</th>
			</tr>
		</thead>
		<tbody>
			<th:block th:each="coupon : ${couponListAllPages}">
				<tr>
					<td th:text="${coupon.couponName}"></td>
					<td th:text="${coupon.discountDuration}"></td>
					<td
						th:text="${coupon.triggerThreshold != null ? coupon.triggerThreshold : 0}"></td>
					<td th:text="${coupon.discount}"></td>
					<td
						th:text="${coupon.discountLimit != null ? coupon.discountLimit : 0}">
					</td>
				</tr>
			</th:block>
		</tbody>

	</table>
	<div th:replace="~{fragments/pagination :: pagination(${currentPage}, ${totalPages}, '/admin/coupon/select_coupon')}"></div>	




</body>
</html>