<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta charset="UTF-8">
<title>心理師新增修改課程</title>
<style>
span.error {
	font-size: 12px;
	color: red;
}
</style>
</head>
<body>
	<h1>心理師新增修改課程</h1>
	<h3>
		<a th:href="@{/course/psychSelectCourse}">心理師課程一覽</a>
	</h3>
	<span>session心理師編號:</span>
	<span th:text=${session.psychId}></span>
	<br>
	<br>

	<form th:action="@{insertCourse}" method="post" 
		th:object="${course}" enctype="multipart/form-data"> 
		<div>
			<label>課程名稱:<font color="red">*</font></label> <input type="text"
				th:field="*{courseName}" /><br /> <span
				th:if="${#fields.hasErrors('courseName')}" th:errors="*{courseName}"
				class="error" id="courseName.errors"></span>
		</div>
		<div>
			<label>課程分類:<font color="red">*</font></label> <select
				th:field="*{courseCategories}">
				<option value="">請選擇分類</option>
				<option th:each="courseCategories : ${courseCategoriesListAll}"
					th:value="${courseCategories.courseCatId}"
					th:text="${courseCategories.courseCatName}" />
			</select><br>
			<span th:if="${#fields.hasErrors('courseCategories')}"
				th:errors="*{courseCategories}" class="error"
				id="courseCategories.errors"></span>
		</div>
		<div>
			<label>課程影片:<font color="red">*</font></label>
		    		<input type="file" name="video"><br>
				<span class="error" th:text="${videoErrorMsg}"></span>
		</div>
		<div>
			<label>課程預覽影片:<font color="red">*</font></label> 
		    		<input type="file" name="videoPre"><br>
				<span class="error" th:text="${videoErrorMsg}"></span>
		</div>
		<div>
			<label>課程大綱:<font color="red">*</font></label> <input type="text"
				th:field="*{outline}" /><br /> <span
				th:if="${#fields.hasErrors('outline')}" th:errors="*{outline}"
				class="error" id="outline.errors"></span>
		</div>
		<div>
			<label>課程定價:<font color="red">*</font></label> <input type="text"
				th:field="*{price}" /><br /> <span
				th:if="${#fields.hasErrors('price')}" th:errors="*{price}"
				class="error" id="price.errors"></span>
		</div>
		<button type="submit">送出</button>
	</form>

</body>
</html>