<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>課程商城索引</title>
</head>
<body>
<h1>課程商城</h1>
<h3><a th:href="@{/}">回首頁</a></h3>
<h3><a th:href="@{/coupon/selectCoupon}">優惠券</a></h3>
<h3><a th:href="@{/course/selectCourseCategories}">課程分類</a></h3>
<h3><a th:href="@{/course/psychSelectCourse}">心理師課程頁面</a></h3>
<h3><a th:href="@{/course/adminSelectCourse}">員工課程頁面</a></h3>
<h3><a th:href="@{/course/memberSelectCourse}">會員課程頁面</a></h3>
<h3><a th:href="@{/course/qa/psych}">心理師回復</a></h3>
<h3><a th:href="@{/course/qa/member}">用戶提問</a></h3>
</body>
</html>