<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>課程商城索引</title>
</head>
<body>
<h1>課程商城</h1>
<h3><a th:href="@{/}">回首頁</a></h3>
<h3><a th:href="@{/coupon/select_coupon}">優惠券</a></h3>
<h3><a th:href="@{/course/select_course_categories}">課程分類</a></h3>
<h3><a th:href="@{/course/psych/select_course}">心理師課程頁面</a></h3>
<h3><a th:href="@{/course/admin/select_course}">員工課程頁面</a></h3>
<h3><a th:href="@{/course/member/select_course}">會員課程頁面</a></h3>
<h3><a th:href="@{/course/qa/psych}">心理師回復</a></h3>
<h3><a th:href="@{/course/qa/member}">用戶提問</a></h3>
<h3><a th:href="@{/member/course/order/acb}">課程訂單</a></h3>
<h3><a th:href="@{/psych/payout/selectPayout}">心理師付款清單</a></h3>
<h3><a th:href="@{/admin/adminPayout/listAll}">付款清單</a></h3>
<h3><a th:href="@{/member/refund/orderlist}">退款狀態</a></h3>
<h3><a th:href="@{/admin/refund/list}">管理員審核退款</a></h3>

</body>
</html>