<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>諮商預約索引</title>
</head>
<body>
     <h1>諮商預約</h1>
    <h3><a th:href="@{/}">回首頁</a></h3>

    <h2>後台管理</h2>
    <h3><a th:href="@{/orders/listAllOrders}">諮詢訂單</a></h3>
    <h3><a th:href="@{/slots/listAllSlots}">後台_預約時段表</a></h3>
    <h3><a th:href="@{/reports/listAllReports}">諮商問題回報</a></h3>

    <h2>會員（前台）</h2>
    <h3><a th:href="@{/orders/bookForm}">會員_預約諮商</a></h3>
    <h3><a th:href="@{/orders/myOrdersForm}">會員_查看預約紀錄</a></h3>
    <h3><a th:href="@{/orders/reviewForm}">會員_撰寫心得評論</a></h3>
    <h3><a th:href="@{/reports/reportLookupForm}">會員_新增問題回報</a></h3>
    <h3><a th:href="@{/reports/myReportsForm}">會員_查看問題回報處理進度</a></h3>

    <h2>心理師（前台）</h2>
    <h3><a th:href="@{/slots/manageSlotsForm}">心理師_預約時段表（單日調整）</a></h3>
    <h3><a th:href="@{/slots/templateForm}">心理師_設定固定範本</a></h3>
    <h3><a th:href="@{/orders/psychPendingForm}">心理師_查看待確認訂單</a></h3>
    <h3><a th:href="@{/orders/psychConfirmedForm}">心理師_查看已確認訂單</a></h3>
    <h3><a th:href="@{/orders/psychReviews}">心理師_查看評價</a></h3>
</body>
</html>