<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>諮商預約索引</title>
</head>
<body>
    <h1>諮商預約</h1>
    <h3><a th:href="@{/}">回首頁</a></h3>
    <h3><a th:href="@{/orders/listAllOrders}">諮詢訂單</a></h3>
    <h3><a th:href="@{/orders/bookForm}">會員_預約諮商</a></h3>
    <h3><a th:href="@{/slots/listAllSlots}">後台_預約時段表</a></h3>
    <h3><a th:href="@{/slots/manageSlotsForm}">心理師_預約時段表</a></h3>
    <h3><a th:href="@{/reports/listAllReports}">諮商問題回報</a></h3>
</body>
</html>