<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>諮商預約索引</title>
</head>
<body>
     <h1>諮商預約</h1>
    <h3><a th:href="@{/}">回首頁</a></h3>

    <h2>後台管理</h2>
	<h3><a th:href="@{/admin/orders/home}">諮商預約管理</a></h3>

    <h2>我的療癒足跡_我的預約</h2>
    <h3><a th:href="@{/member/orders/bookForm}">預約諮商</a></h3>
    <h3><a th:href="@{/member/orders/myOrdersForm}">查看預約紀錄</a></h3>

    <h2>會員</h2>
	<h3><a th:href="@{/member/reports/home}">諮商服務反饋</a></h3>

    <h2>心理師</h2>
    <h3><a th:href="@{/psych/orders/home}">心理師預約管理</a></h3>
</body>
</html>