<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<!-- 一般分頁：給不需要 orderBy 的頁面使用 -->
<nav th:fragment="pagination(currentPage, totalPages, baseUrl)"
     th:if="${totalPages != null and totalPages > 1}">

    <span th:if="${currentPage > 1}">
        <a th:href="@{${baseUrl}(page=1)}">至第一頁</a>&nbsp;
    </span>

    <span th:if="${currentPage > 1}">
        <a th:href="@{${baseUrl}(page=${currentPage - 1})}">上一頁</a>&nbsp;
    </span>

    <span>
        第 <span th:text="${currentPage}"></span> /
        <span th:text="${totalPages}"></span> 頁&nbsp;
    </span>

    <span th:if="${currentPage < totalPages}">
        <a th:href="@{${baseUrl}(page=${currentPage + 1})}">下一頁</a>&nbsp;
    </span>

    <span th:if="${currentPage < totalPages}">
        <a th:href="@{${baseUrl}(page=${totalPages})}">至最後一頁</a>&nbsp;
    </span>

</nav>


<!-- 排序分頁：給需要 orderBy 的頁面使用 -->
<nav th:fragment="paginationWithOrder(currentPage, totalPages, baseUrl, orderBy)"
     th:if="${totalPages != null and totalPages > 1}">

    <span th:if="${currentPage > 1}">
        <a th:href="@{${baseUrl}(page=1, orderBy=${orderBy})}">至第一頁</a>&nbsp;
    </span>

    <span th:if="${currentPage > 1}">
        <a th:href="@{${baseUrl}(page=${currentPage - 1}, orderBy=${orderBy})}">上一頁</a>&nbsp;
    </span>

    <span>
        第 <span th:text="${currentPage}"></span> /
        <span th:text="${totalPages}"></span> 頁&nbsp;
    </span>

    <span th:if="${currentPage < totalPages}">
        <a th:href="@{${baseUrl}(page=${currentPage + 1}, orderBy=${orderBy})}">下一頁</a>&nbsp;
    </span>

    <span th:if="${currentPage < totalPages}">
        <a th:href="@{${baseUrl}(page=${totalPages}, orderBy=${orderBy})}">至最後一頁</a>&nbsp;
    </span>

</nav>

</body>
</html>