<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>新增管理員</title>
</head>
<body>
	<h3>新增管理員</h3>

	<span style="color:red;" th:if="${errorMessage != null}" th:utext="${errorMessage}"></span>

	<form method="post" th:action="@{/admin/insert}" th:object="${adminVO}" enctype="multipart/form-data">

		帳號:
		<input type="text" th:field="*{adminAccount}">
		<span style="color:red; margin-left:10px;" th:if="${#fields.hasErrors('adminAccount')}" th:errors="*{adminAccount}"></span><br>

		密碼:
		<input type="password" th:field="*{adminPassword}">
		<span style="color:red; margin-left:10px;" th:if="${#fields.hasErrors('adminPassword')}" th:errors="*{adminPassword}"></span><br>

		帳號狀態:
		<select th:field="*{accountStatus}">
			<option th:each="entry : ${accountStatusMap}" th:value="${entry.key}" th:text="${entry.value}"></option>
		</select>
		<span style="color:red; margin-left:10px;" th:if="${#fields.hasErrors('accountStatus')}" th:errors="*{accountStatus}"></span><br>

		姓名:
		<input type="text" th:field="*{name}">
		<span style="color:red; margin-left:10px;" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span><br>

		手機號碼:
		<input type="text" th:field="*{phoneNumber}">
		<span style="color:red; margin-left:10px;" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></span><br>

		入職日期:
		<input type="datetime-local" th:field="*{hiredate}">
		<span style="color:red; margin-left:10px;" th:if="${#fields.hasErrors('hiredate')}" th:errors="*{hiredate}"></span><br>

		照片:
		<input type="file" name="profilePic"><br>

		<input type="submit" value="新增">
	</form>

	<a th:href="@{/admin/listAllAdmin}">回管理員列表</a>
</body>
</html>
