<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>首頁</title>
</head>
<body>
<h1>首頁</h1>

<form th:action="@{/back-end/logout}" method="post">
    <button type="submit">登出 (管理員)</button>
</form>

<form th:action="@{/front-end/logout}" method="post">
    <button type="submit">登出 (會員)</button>
</form>

<h3><a th:href="@{/front-end/login}">會員登入</a></h3>
<h3><a th:href="@{/back-end/login}">管理員登入</a></h3>
<h3><a th:href="@{/admin/select_page}">管理員檔案</a></h3>
<h3><a th:href="@{/member/profile}">會員個人檔案</a>｜<a th:href="@{/member/dashboard}">我的療癒足跡</h3>
<h3><a th:href="@{/consultation}">諮商預約</a></h3>
<h3><a th:href="@{/course/member/select_course}">課程商城</a>｜<a th:href="@{/course/psych/select_course}">課程商城(心理師)</a>｜<a th:href="@{/course/admin/select_course}">課程商城(員工)</a></h3>
<h3><a th:href="@{/article/}">專欄文章</a>｜<a th:href="@{/member/dashboard/myCollection/article}">我的收藏</a>｜<a th:href="@{/psych/article/myArticles}">我的文章</a>｜<a th:href="@{/admin/article}">文章管理</a></h3>
<h3><a th:href="@{/activity/activityIndex}">揪團活動</a>｜<a th:href="@{/activity/ownedActivities}">我發起的活動(暫時寫死會員id)</a></h3>

</body>
</html>