<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta charset="UTF-8">
<title>優惠券搜尋頁面</title>
</head>
<body>
	<h1>我的優惠券</h1>

	<h3>
		<a th:href="@{/member/dashboard/myLearning}">個人學習空間</a>
	</h3>
	<h3>
		<a th:href="@{/member/course/shopping_cart}">購物車</a>
	</h3>
	<br>
	<div th:each="coupon : ${coupons}">
	    	<span th:text="${coupon.couponName}"></span>
	   	<form th:action="@{/member/coupon/claim}"
	          method="post">
	        <input type="hidden"
	               name="couponId"
	               th:value="${coupon.couponId}">
	        <button type="submit">
	            領取優惠券
	        </button>
	    </form>
	</div>
	<table>
		<thead>
			<tr>
				<th>優惠券名稱</th>
				<th>消費觸發門檻</th>
				<th>優惠券折扣</th>
				<th>折扣上限</th>
				<th>使用狀態</th>
				<th>起始日期</th>
				<th>結束日期</th>
			</tr>
		</thead>
		<tbody>
			<th:block th:each="memberCoupon : ${myCoupons}">
				<tr>
					<td th:text="${memberCoupon.coupon.couponName}"></td>
					<td
						th:text="${memberCoupon.coupon.triggerThreshold != null ? memberCoupon.coupon.triggerThreshold : '無'}"></td>
					<td th:text="${memberCoupon.coupon.discount}"></td>
					<td
						th:text="${memberCoupon.coupon.discountLimit != null ? memberCoupon.coupon.discountLimit : '無'}">
					</td>
					<td
						th:text="${memberCoupon.couponStatusText}">
					</td>
					<td
						th:text="${#temporals.format(memberCoupon.couponStartAt, 'yyyy年MM月dd日')}">
					</td>
					<td
						th:text="${#temporals.format(memberCoupon.couponEndAt, 'yyyy年MM月dd日')}">
					</td>
				</tr>
			</th:block>
		</tbody>

	</table>
	<div th:replace="~{fragments/pagination :: pagination(${currentPage}, ${totalPages}, '/member/coupon/my_coupon')}"></div>	




</body>
</html>