<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta charset="UTF-8">
<title>購物車</title>
<style>
span.error {
	font-size: 12px;
	color: red;
}
</style>
</head>
<body>
	<h1>購物車</h1>
	<h3>
		<a th:href="@{/course/memberSelectCourse}">會員課程一覽頁面</a>
	</h3>
	<span>session會員編號:</span>
	<span th:text=${session.memberId}></span>
	<br>
	<table>
		<tr>
			<th>課程名稱</th>
			<th>心理師</th>
			<th>原價</th>
			<th>折扣</th>
			<th>小計</th>
			<th>操作</th>
		</tr>

		<tr th:each="cart : ${cartList}">
			<td th:text="${cart.courseName}"></td>
			<td th:text="${cart.psychologistName}"></td>
			<td th:text="${cart.price}"></td>
			<td th:text="${cart.psychDiscount}"></td>
			<td th:text="${cart.total}"></td>
			<td>
				<form th:action="@{/course/cart/remove}" method="post">
					<input type="hidden" name="memberId"
						th:value="${session.member.memberId}"> <input
						type="hidden" name="courseId" th:value="${cart.courseId}">
					<button type="submit">移除</button>
				</form>
			</td>
		</tr>
	</table>

</body>
</html>