<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>會員評價列表</title>
</head>
<body>
	<h3>心理師編號 <span th:text="${psychId}"></span> 的評價列表</h3>

	<table border="1">
		<tr>
			<th>訂單編號</th>
			<th>會員編號</th>
			<th>諮商日期</th>
			<th>評分</th>
			<th>心得內容</th>
			<th>評論時間</th>
		</tr>
		<tr th:each="order : ${ordersListData}">
			<td th:text="${order.orderId}"></td>
			<td th:text="${order.member.memberId}"></td>
			<td th:text="${#temporals.format(order.consStart, 'yyyy-MM-dd')}"></td>
			<td th:text="${order.rating}"></td>
			<td th:text="${order.reviewContent}"></td>
			<td th:text="${#temporals.format(order.reviewedAt, 'yyyy-MM-dd HH:mm')}"></td>
		</tr>
	</table>

	<a th:href="@{/orders/psychReviews}">重新查詢</a>

</body>
</html>