<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
<meta charset="UTF-8">
<title>員工課程頁面</title>
</head>
<body>
	<h1>員工課程頁面</h1>
	<h3>
		<a th:href="@{/}">首頁</a>
	</h3>
	<h3>
		<a th:href="@{/course/admin/coupon/select_coupon}">優惠券</a>
		<a th:href="@{/course/admin/select_course_categories}">課程分類</a>
	</h3>
	<form method="post" th:action="@{set_adminId_session}">
		<span>員工編號：</span> <input type="text" name="adminIdSession" />
		<button type="submit" id="submit">送出</button><br>
		<span class="error" th:text="${aError}"></span>
	</form>
	<div th:if="${session.adminId > 0}">
		<span>session員工編號:</span><span th:text=${session.adminId}></span><br><br>
		<form method="post" th:action="@{listed}">
			<button type="submit" id="submit">一鍵上架</button>
		</form>
		<table>
			<thead>
				<tr>
					<th></th>
					<th><a th:href="@{/course/admin/select_course}">課程名稱</a></th>
					<th>心理師名稱</th>
					<th><a th:href="@{/course/admin/select_course(page=1,
							        orderBy=${orderBy == 'courseCategoriesAsc' ? 'courseCategoriesDesc' : 'courseCategoriesAsc'}
						    			)}">課程分類名稱</a>
					<th><a th:href="@{/course/admin/select_course(page=1,
							        orderBy=${orderBy == 'courseStatusAsc' ? 'courseStatusDesc' : 'courseStatusAsc'}
						    			)}">課程狀態</a></th>
					<th><a th:href="@{/course/admin/select_course(page=1,
							        orderBy=${orderBy == 'saveCountAsc' ? 'saveCountDesc' : 'saveCountAsc'}
						    			)}">收藏次數</a></th>
					<th><a th:href="@{/course/admin/select_course(page=1,
							        orderBy=${orderBy == 'starCountAsc' ? 'starCountDesc' : 'starCountAsc'}
						    			)}">平均星數</a></th>
					<th><a th:href="@{/course/admin/select_course(page=1,
							        orderBy=${orderBy == 'reviewCountAsc' ? 'reviewCountDesc' : 'reviewCountAsc'}
						    			)}">評價次數</a></th>
					<th><a th:href="@{/course/admin/select_course(page=1,
							        orderBy=${orderBy == 'commentCountAsc' ? 'commentCountDesc' : 'commentCountAsc'}
						    			)}">提問次數</a></th>
					<th>心理師折扣</th>
					<th><a th:href="@{/course/admin/select_course(page=1,
							        orderBy=${orderBy == 'priceAsc' ? 'priceDesc' : 'priceAsc'}
						    			)}">課程定價</a></th>
					<th>審核員工</th>
					<th>功能</th>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="course : ${courseListSubmit}">
					<tr>
						<td><font color="#17aee6" th:if="${course.courseStatus}==1">●</font>	</td>
						<td th:text="${course.courseName}"></td>
						<td th:text="${course.psychologist.name}"></td>
						<td th:text="${course.courseCategories.courseCatName}"></td>
						<td th:text="${course.courseStatusText}"></td>
						<td th:text="${course.saveCount}"></td>
						<td th:text="${course.reviewCount == 0 ? 0 : course.starCount / course.reviewCount}"></td>
						<td th:text="${course.reviewCount}"></td>
						<td th:text="${course.commentCount}"></td>
						<td th:text="${course.psychDiscount}"></td>
						<td th:text="${course.price}"></td>
						<td th:text="${course.adminId}"></td>
						<td>
							<form method="post" th:action="@{get_one_course}">
								<input type="hidden" name="courseId"
									th:value="${course.courseId}">
								<button type="submit" 
									th:text="${course.courseStatus}==1?'前往審核':'查看詳情'"></button>
							</form>
						</td>
					</tr>
				</th:block>
			</tbody>
		</table>
		<div th:replace="~{fragments/pagination :: paginationWithOrder(${currentPage}, ${totalPages}, '/course/admin/select_course', ${orderBy})}"></div>	
		
	</div>


</body>
</html>